

body {
    margin: 1%;

}

label {
    font-family: 'Gothic A1',
    sans-serif;
    font-size: 36px;
}

form {
    margin-left: 2%;
    margin-right: 5%;
}

.row {
    float: left;
    margin: 1%;
}

.but {
    margin: 1%;
}

#but-input {
    margin-bottom: 5%;
}

.rating {
    color: orange;
    position: relative;
    margin: 1%;
    z-index: 100%;
}

#add-gif {
    float: left;
}

.navbar {
    background-color: whitesmoke;
    margin-right: 1%;
}